html {
    box-sizing: border-box;
    font-size: 15px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main{
    border-radius: 3rem;
}
body {
    line-height: 1.3;
    font-family: 'Spartan', sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: var(--lightgraymagenta);
}



:root {
    --darkmagenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --graymagenta: hsl(303, 10%, 53%);
    --lightgraymagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
/* top part */

.ten {
    color:var(--darkmagenta);
    font-size: 2.5rem;
}
.tenthou {
    width: 30%;
    height: 20%;
    display: inline-block;
    min-width: 350px;
    margin-left: 25px;
}

.customer-service {
    line-height: 20px;
    color: var(--graymagenta);
}

.first-review {
    position: relative;
    left: 800px;
    bottom: 180px;
    color: var(--darkmagenta);
    font-weight: 700;
   
}

.second-review {
    position: relative;
    left: 900px;
    bottom: 160px;
    color: var(--darkmagenta);
    font-weight: 700;
    
}

.third-review {
    position: relative;
    left: 1000px;
    bottom: 140px;
    color: var(--darkmagenta);
    font-weight: 700;
}

/*bottom part */

span {
    color: var(--white);
}
.verify {
    color: var(--pink);
    font-weight: 400;
}

.name {
    color: var(--white);
    font-weight: 600;
}

.colton-img {
    border-radius: 50%;
    width: 15%;
    margin-right: 50px;
    float: left;
    margin-bottom: 50px;
    margin-left: 10px;
}
.colton-review {
    background: var(--darkmagenta);
    width: 25%;
    height: 200px;
    padding-top: 30px;
    border-radius: 11px;
    text-align: left;
    padding-right:  12px;
    position: absolute;
}

.irene-img {
    border-radius: 50%;
    width: 15%;
    margin-right: 50px;
    float: left;
    margin-bottom: 50px;
    margin-left: 10px;
}
.irene-review {
    background: var(--darkmagenta);
    width: 25%;
    height: 200px;
    padding-top: 30px;
    border-radius: 11px;
    text-align: left;
    padding-right: 12px;
    position: absolute;
    left: 700px;
    bottom: -70px;
    
}

.anne-review {
    background: var(--darkmagenta);
    width: 25%;
    height: 200px;
    padding-top: 30px;
    border-radius: 11px;
    text-align: left;
    padding-right: 12px;
    position: absolute; 
    left: 1210px;
    bottom: -90px;
}
.anne-img {
    border-radius: 50%;
    width: 15%;
    margin-right: 50px;
    float: left;
    margin-bottom: 50px;
    margin-left: 10px;

}

/* footer */

.attribution {
    text-align: center;
}
